
* {
  font-size: 1.5rem;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 50vh;
  /* overflow: hidden; */
  margin: 0 auto;
}
